name: Terraform Create AWS Infra

on:
  push:
    branches:
      - main
  #   paths:
  #     - "**/*.tf"
  #     - "envs/**"
  # workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: dev

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.6

    - name: Terraform Init
      run: |
        cd terraform/envs/dev
        terraform init
        terraform plan