name: Terraform Infra (OIDC – No External Actions)

on:
  push:
    branches: [ main ]
  #   paths:
  #     - "**/*.tf"
  #     - "envs/**"
  # workflow_dispatch:


permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ap-south-1
  TF_VERSION: 1.14.3

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout (GitHub-owned → allowed)
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Install Terraform manually (NO hashicorp action)
      - name: Install Terraform
        run: |
          curl -fsSL https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip -o terraform.zip
          unzip terraform.zip
          sudo mv terraform /usr/local/bin/
          terraform version

      - name: Configure AWS credentials using GitHub OIDC
        env:
          ROLE_ARN: arn:aws:iam::625062085546:role/github-actions-role
        run: |
          echo "Requesting GitHub OIDC token..."

          ID_TOKEN=$(curl -sSL \
            -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
            "${ACTIONS_ID_TOKEN_REQUEST_URL}&audience=sts.amazonaws.com" \
            | jq -r '.value')

          if [ -z "$ID_TOKEN" ] || [ "$ID_TOKEN" = "null" ]; then
            echo "Failed to retrieve OIDC token"
            exit 1
          fi

          echo "Assuming AWS role..."

          CREDS=$(aws sts assume-role-with-web-identity \
            --role-arn "$ROLE_ARN" \
            --role-session-name "github-actions" \
            --web-identity-token "$ID_TOKEN" \
            --duration-seconds 3600 \
            --query 'Credentials.[AccessKeyId,SecretAccessKey,SessionToken]' \
            --output text)

          export AWS_ACCESS_KEY_ID=$(echo $CREDS | awk '{print $1}')
          export AWS_SECRET_ACCESS_KEY=$(echo $CREDS | awk '{print $2}')
          export AWS_SESSION_TOKEN=$(echo $CREDS | awk '{print $3}')

          aws sts get-caller-identity

      # 4️⃣ Terraform Init
      - name: Terraform Init
        run: terraform init

      # 5️⃣ Terraform Validate
      - name: Terraform Validate
        run: terraform validate

      # 6️⃣ Terraform Plan
      - name: Terraform Plan
        run: |
          terraform plan \
            -var-file=env/prod/terraform.tfvars \
            -out=tfplan

      # 7️⃣ Terraform Apply
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve tfplan
